<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>source code color</title>
    <script language="javascript" type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/content.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css/shikoku.css" />
  </head>
  <body>
    <div>
      <%= @tokens_count %> トークン <%= @files_count %> ファイル あります
    </div>
    <form method="POST" action="/">
      <textarea rows="30" cols="80"></textarea>
      <!-- <br> -->
      <!-- <input type="submit" value="送信"></input> -->
    </form>
    <div class="color-changer">
      <label><input type="radio" name="fill-type" value="color" checked>カラー</label>
      <label><input type="radio" name="fill-type" value="gray">グレイスケール</label>
    </div>
    <div id="color-sample"></div>

    <div id="completions-container"></div>

    <pre id="result" class="tokens">
    </pre>
  </body>
</html>
